.facilityType-filter .ts-control input {
  caret-color: transparent;  /* hides the blinking cursor */
}

.facilityType-filter label {
  display: block;
  margin-bottom: 6px; /* spacing below label */
  margin-left: 20px;
}

.controls-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls-row .ts-control {
  min-width: 200px; /* or whatever width you want */
}

button.clear {
  visibility: hidden;
  background: #fdf6f1;
  border-radius: 2px;
  border: 0px solid #aaa;
  color: black;
  margin: 0;
  padding: 0 2px;
  width: 6px;
  cursor: pointer;
  height: 20px;
  font-size: 12pt;
  position: relative;
  top: -3px; /* move text 2 pixels up */
}

button.clear:hover {
  background: #fdf6f1;
  color:red;
}


div {
//  border: 1px solid red;
}

h3 {
  font-size: 20px;
  line-height: 140%;
  margin: 30px 0 10px 0;
  font-family: "Whyte Bold";
}

#aboutdata h3 {
  margin-bottom: 10px;
  padding: 0 0px;
}

#aboutdata p {
  padding: 0 0px;
  max-width: 1000px;  
}

#wrap h3 {
  margin-bottom: 10px;
  padding: 0 0px;
}

#wrap p {
  padding: 0 0px;
  max-width: 1000px;  
}


/* graph slider */

.graphSlider-container {
  width: 700px;
  margin: 30px auto;
}

#graphSlider {
  position: relative;
  margin: 0 auto;
  width: 300px;
  padding: 0 -7px;
  box-sizing: border-box;
}

.graphSlider-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-size: 14px;
}

/* map legend */

ul#activity {
  padding: none;
  padding-inline-start: 0px;
  font-size: 14px;
  text-align: left;
}

ul li.legend-active,
ul li.legend-inactive {
  list-style-type: none;
  list-style-image: none;
  margin-left: none;
  padding-left: none;
}

ul li.legend-active::before {
  background-color: #f83a20;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
}

ul li.legend-inactive::before {
  background-color: #333;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
}

/* graph checkbox */

.custom-checkbox {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: 8px;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--check-color);
}

.slider-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.graph-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto; 
  flex-direction: column;
}

.ts-control {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 38px;
}
.ts-control .item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
}

.ts-dropdown .item:hover {
  background-color: #dbeafe; /* light blue */
  font-weight: bold;
}
.ts-control .item:focus {
  background-color: transparent;
  outline: none;
}



.ts-dropdown .option.selected::after {
  content: "✔";
  float: right;
  color: #2563eb; /* blue checkmark */
  padding-right: 0.5em;
}

.graph-top-panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  padding: 16px;
  background: #fdf6f1;
}

.graph-element-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fdf6f1;
}

.graph-right-controls {
  width: 225px;
  padding: 5px;
  background: #fdf6f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 400px;
}

#controls {
  margin-top: auto;
}

.graph-bottom-panel {
  padding: 0;
  margin: 0;
  background: #fdf6f1;  
}

.footer-note {
  margin: 0;
  padding: 0;
  margin-left:30px;
  max-width:900px;
  font-style: italic
}

#mapSlider {
  width: 100%;
  max-width: 700px;
  display: block;
}

#map-content {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.map-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto; 
  flex-direction: row;
}

.map-left-panel {
  width: 125px;
  padding: 5px;
  background: #fdf6f1;
}

.map-right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fdf6f1;
}

.map-top-controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
}

.map-element-container {
  flex: 0;
  position: relative;
}

.map-bottom-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  flex-wrap: wrap;
}

strong {
  font-family: "Whyte Bold";
}

.noUi-target {
  border: none;
  background: transparent;
  box-shadow: none;
  height: 6px;
  background-color: #ccc;
}

.noUi-connect {
  background: #999;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #888;
  cursor: pointer;
  box-shadow: none;
  box-sizing: border-box;
  top: -7px;
  margin-left: -7px;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-tooltip {
  opacity: 0;
  transition: opacity 0.2s;
}

.noUi-handle:hover .noUi-tooltip,
.noUi-active .noUi-tooltip {
  opacity: 1;
}

.flex-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

canvas#graph-element {
  height: 400px;
  display: block;
}

#controls {
  width: 200px;
}

body {
  color: #222;
  background-color: #fff7f0;
  margin: 0;
  padding: 0;
  font-family: Whyte Book;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #ef4136;
  text-decoration:none;
}

h1 {
  font-family: GT Sectra Bold;
  color: #0e002c;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  padding: 0 100px;
  width: 80%;
  margin: 0 auto;
}

td {
  vertical-align: top;
  text-align: center;
}

a.button {
  display: inline-block;
  background-color: #2e1d97;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1px;
}

a.button:hover {
  background-color: #000000;
}

button {
  background: #ef4136;
  border-radius: 2px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 10px;
  width: 65px;
  cursor: pointer;
  height: 30px;
  font-size: 12pt;
}

button.zoom {
  background: #eee;
  border-radius: 2px;
  border: 1px solid #aaa;
  color: black;
  margin: 0;
  padding: 0 10px;
  width: 30px;
  cursor: pointer;
  height: 30px;
  font-size: 12pt;
}

button:hover {
  background-color: #696969;
}

button.x {
  background: #fff7f0;
  border: none;
  color: #000000;
  margin: 0;
  padding: 0 0px;
  width: 25px;
  cursor: pointer;
  height: 25px;
  font-size: 12pt;  
}

button.x:hover {
  background: #fff7f0;
  color:red;
}


p {
  font-family: Whyte Book;
  color: #0a0319;
  font-size: 17px;
  padding: 0 100px;
  max-width: 785px;
}

.updated {
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  font-weight: 400;
  margin: 5px auto 0 auto;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

  input#chck1 {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  a {
    color: #ef4136;
    text-decoration: none;
  }
  .italic {
    font-style: italic;
  }
  /* Accordion styles */
  .tabs {
    border-radius: 0px;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
  }

  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
    background: #fff7f0;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #d2bab4;

    /* Icon */
  }
  .tab-label:hover {
    border-bottom: 1px solid #ef4136;
  }
  .tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .tab-content {
    max-height: 0;
    padding: 0;
    color: #2c3e50;
    background: #fff7f0;
    transition: all 0.35s;
    display: none;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    font-size: 0.75em;
    background: #fff7f0;
    cursor: pointer;
  }
  .tab-close:hover {
    border-bottom: 1px solid #fff7f0;
  }
  label {
    max-width: 220px;
  }
  input#chck1:checked + .tab-label {
    background: #fff7f0;
  }
  input#chck1:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  input#chck1:checked ~ .tab-content {
    max-height: 3000px;
    padding: 0;
    display: block;
  }

/* ------------------------------------------------------------------ */
/* Vera fonts */

@font-face {
  font-family: "Whyte Black";
  src: url(/fonts/ABCWhyte-Black.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Whyte Bold";
  src: url(/fonts/ABCWhyte-Bold.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Whyte Medium";
  src: url(/fonts/ABCWhyte-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Whyte Book";
  src: url(/fonts/ABCWhyte-Book.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT Sectra Bold";
  src: url(/fonts/gt-sectra-bold-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
