.sreports-wrap {
    z-index: 505;
    width: 100%;
    margin-bottom: 40px;
}

.sreports-wrap .sreports-navMenu {
    background-color: #160643;
    min-height: 67px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #3E2BB1;
    display: flex;
    justify-content: space-between;
}

.sreports-wrap .sreports-navMenu__left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sreports-wrap .sreports-navMenu__left a .sreports--logo {
    width: 91px;
    height: 30px;
    margin-left: 60px;
    margin-top: 19px;
    margin-bottom: 18px;
    margin-right: 89px;
    position: relative;
}

.sreports-wrap .sreports-navMenu__left #sreports--title {
    font-family: "Whyte Bold";
    color: #FFF;
    font-style: normal;
    line-height: 130%;
    margin-left: 12px;
    font-size: 16px;
}

/* Footer */
.footer {
    margin-top: 80px;
    color: white;
    z-index: 5;
    position: relative;
}

.footer-top {
    background-color: #160643;
    padding: 87px 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.footer-top-container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.footer-column {
    margin: 0 0 0 2%;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
}

.footer-top-col01 {
    margin: 0;
}

.footer-top-col01 .footer-logo {
    width: 223px;
    height: 52px;
}

.footer-top-col01 .address {
    margin-top: 37px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.footer-top-col02 {
    padding-top: 40px;
    padding-left: 70px;
    margin: 0;
}

.footer-top-col02 ul.menu-footer {
    margin: 0;
    list-style: none;
    padding: 0;
}

.footer-top-col02 ul.menu-footer li {
    margin-top: 16px;
    line-height: 1;
}

.footer-top-col02 ul.menu-footer li:hover a {
    color: #ABFFEB;
}

.footer-top-col02 ul.menu-footer li a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.footer-top-col02 ul.menu-footer li a img {
    width: 20px;
    margin-left: 10px;
    opacity: 0;
}

.footer-top-col02 ul.menu-footer li:hover img {
    opacity: 1;
    transition: .5s ease;
}

.footer-top-col02 ul.menu-footer li:first-of-type {
    margin-top: 0px;
}

.footer-top-col03 {
    padding-top: 37px;
}

.social-copy {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 25px;
}

.social-icons a {
    background-color: #ABFFEB;
    color: #160643;
    width: 24px;
    height: 24px;
    line-height: 18px;
    text-align: center;
    padding: 5px;
    margin-right: 8px;
    transition: 0.2s all ease-in-out;
}

.social-icons a img {
    height: 21px;
    display: flex;
    margin: 0 auto;
}

.social-icons a:hover {
    background-color: #ef4136;
    color: #160643;
}

.footer-top-col04 {
    padding: 0;
}

.footer-top-col04 .mail-list {
    background-color: #2E1D97;
    color: #FFF;
    padding: 3px 14px 40px 28px;
    box-sizing: border-box;
    position: absolute;
}

.footer-bottom {
    background-color: #160643;
    border-top: 2px solid #3E2BB1;
    padding: 38px 0px;
}

.footer-bottom-container {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
}

p.footer-bottom-copyright {
    color: #fff;
    font-size: 14px;
    margin-right: 50px;
}

.footer-bottom-menu ul {
    height: 100%;
    margin: 0;
    display: inline-block;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.footer-bottom-menu ul li {
    margin-right: 23px;
}

.footer-bottom-container .footer-bottom-menu ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    display: initial;
    text-decoration: underline;
    text-decoration-color: #ef4136;
    padding: 5px;
    text-decoration-thickness: 2px;
}

.footer-bottom-container .footer-bottom-menu ul li a:hover {
    color: #FFF;
    background-size: 100% 2px;
    background-color: #ef4136;
}

.footer-bottom-container p {
    color: #fff;
    margin-right: 50px;
    font-size: 14px;
}

.theButton {
    background-color: transparent;
    line-height: .9;
    color: #fff;
    width: -moz-fit-content;
    text-decoration: none;
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    transition: all .2s ease;
    padding: 13px 23px 24px;
    border: 0;
    z-index: 1;
    width: 78%;
}

.theButton:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #da392f;
    transition: all .2s ease;
}

.theButton:after,
.theButton:before {
    border: 0;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}

.theButton span {
    font-weight: 700;
    transition: transform .2s ease;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.theButton:after {
    background-color: transparent;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    border: 2px solid #97dfd1;
    transform: skewX(0deg);
    z-index: -2;
}

.theButton span .theArrow {
    margin-left: 13px;
    content: url(/dist/img/v2/theArrow.svg);
    height: 17px;
    width: 29px;
}

.theButton:hover:before,
.theButton:hover span {
    transform: translate3d(4px, 4px, 0);
}

h3.title {
    font-weight: 800;
    font-size: 20px;
    line-height: 23.8px;
    margin-bottom: 21px;
    width: 85%;
}

.footer-top-col04.mail-list {
    padding: 30px;
    position: relative;
}

.mail-list-container {
    max-width: 223px;
    left: 0;
    position: relative;
}

.footer-top-col04 {
    padding: 0;
    width: 25%;
}

footer.footer-column {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: calc(100% * 0.25 - 10px - 1px);
}

/* Nav Media Queries */
@media(max-width: 650px) {
    .sreports-wrap .sreports-navMenu__left {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 992px) {
    .sreports-wrap .sreports-navMenu__left a {
        position: relative;
        display: block;
        margin-right: 20px;
    }

    .sreports-wrap .sreports-navMenu__left a .sreports--logo {
        margin: 19px 30px 18px 20px;
    }
}

@media(max-width: 650px) {
    .sreports-wrap .sreports-navMenu__left a .sreports--logo {
        width: 72px;
        height: 23px;
        margin-right: 20px;
        position: relative;
        margin-left: 20px;
        display: block;
    }
}

/* Footer Media Queries */
@media (max-width: 768px) {
    .footer-top {
        padding: 0;
    }

    .footer-bottom-container {
        flex-direction: column;
    }

    .footer-bottom-copyright {
        text-align: center;
        margin-bottom: 22px;
        margin-right: 0;
    }

    .footer-top-col04 .mail-list {
        position: relative;
        margin-bottom: 20px;
    }

    .footer-top-col02 {
        padding-left: 50px;
    }

    .footer-top-col01 .footer-logo {
        margin-top: 70px;
    }

    .footer-column {
        width: 89%;
        padding-left: 50px;
        margin: 0;
    }

    .footer-top-container {
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
    .footer-top-container {
        padding-left: 20px;
    }
}

@media (min-width: 768px) {
    .theButton span {
        font-size: 16px;
        line-height: 20px
    }
}

@media (min-width: 1024px) {
    .theButton {
        padding: 8px 13px 10px;
    }
}