.hidden {
  display: none;
}

.not-visible {
  visibility: hidden;
}

#story {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: #fff7f0;
  z-index: 1000;
}

#close-story {
  position: fixed;
  top: 6rem;
  left: 75%;
  font-size: 2rem;
  z-index: 1001;
  background: none;
  border: none;
  cursor: pointer;
  color:red;
}

.scrollytelling {
  position: relative;
  width: 100%;
  height: auto;
}

#main-image {
  height: 75vh;
  width: auto;
  object-fit: contain;
  transition: opacity 0.4s ease;  
}

.graphic {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: flex;
  background-color: #fff7f0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  max-width: 90vw;
  max-height: 90vh;
  padding: 1rem;
}

.text {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 0;
}

.textbox {
  font-size: 1.5rem;
  background: #000000ba;
  padding: 2rem 2rem;
}

.textbox p {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.textbox a {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #ef4136;
  text-underline-offset: .2em;
  transition: color .15s ease-in, border .15s ease-in, background .15s ease-in, opacity .15s ease-in; 
}

.textbox a:hover,
.textbox a:focus {
  background-color: #da392f;
  color: #fff;
  text-decoration-color: none;
}


.step {
  min-height: 100vh;
  margin-bottom: 2rem;
}

.step:first-of-type {
  padding-top: 20vh;
}

p.head {
  font-family: "Whyte Bold";
}

p.section {
  margin-top: 0;
}
